---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<section class="hero">
			<div class="falling-container">
				<h1>HALO!</h1>
			</div>
		</section>
	</body>
	<script>
		//@ts-nocheck
		import {Engine, Bodies, Render, Runner, Composite, Body } from "matter-js";
		
		// call the element
		const fallingContainer = document.querySelector(".falling-container");
		// create an engine
		let engine = Engine.create({
			gravity: {
				scale: 0.001,
				x: 0,
				y: 1,
			},
		});


		// create two boxes and a ground
		let boxA = Bodies.rectangle(400, 200, 80, 80);
		let boxB = Bodies.rectangle(450, 50, 80, 80, {
			restitution: 1,
		});
		let ground = Bodies.rectangle(400, 610, 810, 60, { isStatic: true });


		// add all of the bodies to the world
		Composite.add(engine.world, [boxA, boxB, ground]);
		
		// create a renderer
		let render = Render.create({
			element: fallingContainer,
			engine: engine,
		});
		Render.run(render);
		let runner = Runner.create();
		Runner.run(runner, engine);

		fallingContainer.addEventListener("click", (e) => {
			Body.setPosition(boxA, {
				x: e.clientX,
				y: e.clientY,
			});
		});
	</script>
</html>
